header {
  background: linear-gradient(to top right, #ff4e7f, #ff4e7f 30%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  text-align: center;
  justify-content: center;
}

header Link {
  color: white;
}
/* header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  padding: 10px 20px;
} */

.divcss {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
