.link_text {
 text-decoration: none;
 color: #ff4e7f;
}

.school_container {
 background: linear-gradient(to bottom, pink 30%, rgb(211, 187, 191) 70%);
 width: auto;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #ff4e7f;
 font-size: 20px;
}

.school_background {
 text-align: center;
}

.school_img {
 width: 20vw;
 height: auto;
 border-radius: 30%;
 transition: all 300ms;
}
.school_img:hover {
 width: 25vw;
 height: auto;
 border: 1px solid rgb(129, 50, 64);
}

.testdiv {
 height: auto;
 width: 30vw;
 font-size: 1.8vh;
 font-weight: bold;
}

.school_text {
 margin-top: 20px;
}
