table {
  margin-top: 200px;
  width: 700px;
  height: 200px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

td {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

th {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: hotpink;
}

.view_container {
  display: flex;
  height: auto;
  width: auto;
  /* align-content: center; */
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 200px;
  /* border: 1px solid red; */
}

.view_select {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 6vh; */
  /* margin-bottom: 10vh; */
  /* margin-bottom: 7vh; */
}
.view_select span {
  font-size: 2.5vw;
  font-weight: bold;
}

.view_month {
  width: 4vw;
  height: 5vh;
  font-size: 1.8vh;
  font-weight: bold;
  padding: 0.8em 0.5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 20px;
  /* margin: 10px; */
  margin-right: 100px;
}

.view_time {
  width: 5vw;
  height: 5vh;
  font-size: 1.8vh;
  font-weight: bold;
  padding: 0.8em 0.5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 20px;
  /* margin: 10px; */
  margin-left: 100px;
}
